<div class="jumbotron m4-4">
	<h1 class="display-4">Notes App Nodejs and Mongodb</h1>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>
	<hr class="my-4">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
	<a href="http://www.promiedos.com.ar" class="btn btn-primary btn-lg">Tu Vieja</a>
</div>
